/*
All the theme styles, used on all pages.
Based on the style of the University of Utrecht.
*/


/*** Base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
    --header-height: 4em;
    --footer-height: 4em;
    --footer-height-negative: -4em;
    --yellow: rgb(255, 205, 0);
    --light-yellow: rgb(255, 244, 200);
    --red: #c00a35;
    --add-red: #9a0000;
    --add-purple: #791D72;
    --add-orange: #F08000;
    --add-yellow: #FEF200;
    --add-green: #419702;
    --add-cyan: #36A2C9;
    --add-blue: #094D8E;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
input,
textarea {
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
    line-height: 116%;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
    color: black;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p,
form {
    font-family: "Merriweather", "Bembo", Georgia, Times, "Times New Roman", serif;
    font-size: 1em;
    font-weight: normal;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: var(--footer-height);
}


/*** Title */

.title a {
    float: left;
    font-size: 1em;
    margin-top: 0.7em;
    margin-right: 1em;
}


/*** Header */

.header {
    height: var(--header-height);
    width: 100%;
    padding: 0.5em;
    margin-bottom: 24px;
    background-color: var(--yellow);
    display: block;
    float: left;
}

.logo,
.logo a {
    display: inline-block;
}

.header img {
    height: 100%;
}

.header .user {
    float: right;
    height: 100%;
    text-align: right;
    width: 180px;
}


/* .header .user * {
    float: right;
    display: inline-block;
} */

.header .user p {
    display: inline-block;
    float: right;
    padding-right: 1em;
    line-height: var(--header-height);
    font-size: 12px;
}

.header .user img {
    display: inline-block;
    float: right;
}

.content {
    padding: 1em;
    overflow: auto;
}

.box {
    padding: 1em;
    background-color: var(--yellow);
    display: block;
    min-height: 2em;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
    margin-bottom: 1em;
}

.box.link {
    text-decoration: none;
    color: #000;
    position: relative;
}

.box.link .fa {
    float: right;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 3em;
    padding: 1em;
    box-sizing: border-box;
}

.box.link:hover .fa {
    background-color: #000;
    color: var(--yellow);
}

.box.addproject {
    background-color: var(--red);
    color: white;
    grid-column: -2 / -1;
}

.box.addproject:hover .fa {
    background-color: #FFF;
    color: var(--red);
    border: 3px solid var(--red);
}

.box.addproject .fa {
    border: 3px solid var(--red);
}


/*** Tools */

.grid-3x3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2em;
}

.tool {
    background: var(--yellow);
    height: 200px;
    position: relative;
    padding: 2em;
}

.tool-link {
    max-width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.tool-link .sub {
    color: gray;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.tool .edit-tool {
    float: right;
    font-size: 2em;
    z-index: 1;
    margin-right: -0.5em;
    margin-top: -.5em;
}

.tool h1 {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.tool p {
    margin-bottom: 0.5em;
    margin-left: 0.3em;
}

.tool a {
    color: var(--light-yellow);
    font-style: normal;
}


/*** Resources ***/

.grid-resources {
    --height: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--height) * 5), 1fr));
    grid-gap: calc(var(--height) / 2);
}

.grid-resources>div {
    display: grid;
    grid-template-columns: var(--height) auto;
    grid-gap: 25px;
    height: var(--height);
    font-size: 15px;
    background: var(--yellow);
    padding: 1em;
    box-sizing: content-box;
}

.grid-resources>div>* {
    display: block;
    position: relative;
}

.grid-resources>div>img {
    max-width: 100%;
    max-height: 100%;
}

.grid-resources>div>.fa {
    font-size: var(--height);
    color: white;
}

.grid-resources>div * {
    color: black;
    word-wrap: break-word;
    display: block;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}

.grid-resources>div .sub {
    color: gray;
    font-size: 0.75em;
    width: 100%;
    bottom: 0;
    position: absolute;
}


/*** Settings/Edit form */

form {
    text-align: right;
    max-width: 450px;
}

input,
textarea {
    width: 250px;
    margin: 1em;
    margin-left: 2em;
    height: 2em;
    border: 1px solid var(--yellow);
    padding: 0.3em;
}

input[type=submit] {
    text-align: center;
    width: 75px;
    background: var(--yellow);
    color: white;
}

input[name=collaborators] {
    width: calc(250px - 2em);
}

form a {
    padding: 0.3em 0 0.3em 0;
    margin: 1em;
    margin-left: 0em;
    background-color: var(--yellow);
    color: white;
    text-align: center;
}

form a.add {
    display: inline-block;
    width: 1em;
}

textarea[name=notes] {
    height: 10em;
    max-width: 250px;
    min-width: 250px;
}


/**** documents */

.rootfolder {}

.rootfolder>div {
    background-color: lightgrey;
    padding: 0.2em;
    margin: 0.1em;
    margin-bottom: 0.5em;
}

.file {
    color: var(--add-orange);
}

.computing {
    color: var(--add-cyan);
}

.rootfolder>div .fa {
    float: right;
    font-size: 2em;
}

.rootfolder>div .name {
    font-size: 1em;
    font-weight: normal;
}

.rootfolder>div .metadata {
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

.statistics {
    background: var(--yellow);
    padding: 0.5em;
}

.progress-bar {
    display: grid;
}

.progress-bar>div {
    padding: 0.2em;
}

.progress-bar .label {
    white-space: nowrap;
}

.col-right {
    float: right;
}

.footer {
    width: 100%;
    margin-top: var(--footer-height-negative);
    padding: 1em;
    height: var(--footer-height);
    display: block;
    background-color: #262626;
}

.footer * {
    position: relative;
    color: #aeaeae;
}

.burndownchart {
    width: 100%;
}

.row>div[class^='col-'] {
    float: right;
}
.row>div[class^='col-']:not(:first-child) * {
    margin-right: 1em;
}

.content .title {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.projectoverview .box * {
    float: right;
}

.projectoverview .box::after {
    content: none;
}

.projectoverview .box:hover i {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 3em;
    padding: 1em;
    box-sizing: border-box;
    background-color: #000;
    color: var(--yellow);
}

.budget p {
    font-size: 2em;
    margin-bottom: 1em;
}


/*** Responsive */


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

.row {
    width: 100%;
    padding: 0.5em;
    overflow: auto;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .header .user p {
        font-size: 18px;
        line-height: 2.8em;
    }
}

@media only screen and (max-width: 768px) {
    .content .title {
        font-size: 1em;
    }
    .projectoverview .box {
        margin-right: 0em;
    }
    .header .user {
        width: initial;
    }
    .header .user p {
        display: none;
    }
}