/*All the theme styles, to use on all pages*/

* {
    margin: 0;
    padding: 0;
    --footer-height: 3em;
    --header-height: 3em;
    --yellow: rgb(255, 205, 0);
    --light-yellow: rgb(255, 244, 200);
}

html,
body {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: var(--footer-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
input {
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
    line-height: 116%;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
    color: black;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p {
    font-size: 1em;
}

.yellow {
    background-color: var(--yellow)
}

.darkgrey {
    background-color: #262626
}

.darkgrey>p {
    color: #aeaeae;
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both;
    height: auto;
    min-height: 2em;
}

#main {
    padding: 1em;
    padding-bottom: 2em;
    overflow: hidden;
}

.title {
    width: auto;
    text-align: center;
    margin: 1em;
}

.title a {
    color: black;
    font-size: 2em;
    font-weight: bold;
    padding: 0.1em;
}

.title a,
.title h1 {
    display: inline;
}

.box {
    padding: 0;
    margin: 2em;
    text-align: center;
    background-color: var(--yellow);
    min-height: 1em;
    overflow: hidden;
    color: black;
}

.box>p {
    padding: 1em;
}

.box:hover>.right {
    background-color: black;
    color: var(--yellow);
}

.addproject{
    margin-left: 50%;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#footer {
    position: relative;
    top: 0;
    height: var(--footer-height);
    padding: 1em;
    box-sizing: border-box;
}

#header {
    height: var(--header-height);
    padding: 0.5em;
}

#header>a {
    text-align: right;
    color: black;
    vertical-align: middle;
    line-height: 1em;
}

#personalLogo {
    height: var(--header-height);
}

.column-1 {
    width: 40%;
    float: left;
}

.column-2 {
    width: 60%;
    float: right;
}

.burndownchart {
    width: 100%;
}

form {
    text-align: right;
    max-width: 450px;
}

input {
    width: 250px;
    margin: 1em;
    margin-left: 2em;
    height: 2em;
    border: 1px solid var(--yellow);
    padding: 0.3em;
}

input[type=submit]{
    text-align: center;
    width: 75px;
    background: var(--yellow);
    color: white;
}

input[name=collaborators]{
    width: 216px;
}

form a{
    padding: 0.3em;
    margin: 1em;
    margin-left: 0em;
    background-color: var(--yellow);
    color: white;
}

.budget > p{
    margin: 1em;
    font-size: 2em;
}

.tool{
    background: var(--yellow);
    margin: 2em;
    padding: 2em;
    min-width: 250px;
    width: 27%;
    float: left;
    box-sizing: border-box;
    height: 200px;
}

.tool .edit-tool{
    float: right;
    font-size: 2em;
}

.tool h1{
    margin-bottom: 0.5em;
    font-weight: bold;
}

.tool p{
    margin-bottom: 0.5em;
    margin-left: 0.3em;
}

.tool a{
    color: var(--light-yellow);
    font-style: normal;
}