*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
}

body{
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 2em;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
    line-height: 116%;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}
p {
    font-size: 1em;
}

.yellow{
    background-color:rgb(255, 205,0)
}

.darkgrey{
    background-color:#262626
}

.darkgrey > p{
    color: #aeaeae;
}

.left{
    float: left
}

.right{
    float:right
}

.clear{
    clear: both;
    height: auto;
    min-height: 2em;
}

#wrapper{
    position: relative;
    min-height: 100%;
}

#footer{
    position: relative;
    top: 0;
    height: 2em;
}